
.wrap {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  overflow: auto;
}

.box{
  width: 90%;
  border: 1px solid black;
  text-align: left;;
  margin: 10px auto;
  
}

.box p{
  margin: 0;
}