.wrap{
  margin-top: 10px;
  border: 1px solid black;
  padding: 1rem;
  width: 500px;
}

.box{
  border: 1px solid black;
  padding: 0.4rem;
  width: auto;
  margin-bottom: 10px;
  display: flex;
}

.flex1{
  flex: 3;
}
.flex2{
  flex: 1;
}